:root {
  --maintextcolor: #424242;
  --buttoncolor:#ffffff ;
}

html {
  font-family: Cabin, Arial, "Open Sans", sans-serif;
  background-color: #ffffff;
  color: var(--maintextcolor);
}

ul {
  font-size: 12pt;
}

/*min max actualvalue*/
.menucategory{
  height: clamp(40px, 10vw, 40pt);
}

.menucategory button{
  color: #727272;
  
  outline-style: none;
}

.menucategory button:hover{
  color:#83cbff;
}

button {
  background-color: var(--buttoncolor);
  font-size: clamp(14pt, 16pt, 1vw);
  width: auto;

  border-radius: 8pt;
}

button:hover {
  cursor: pointer;
  background-color: #f1f1f1;
}

button:active{
  background-color: #c4c4c4;
}

/*for button active*/
.active{
  color:#40afff !important;
}

article {
  padding-left: 16pt;
  padding-right: 16pt;
}

footer {
  margin-bottom: 0%;
}

body {
  background-color: #ffffff;
}

main {
  padding-bottom: 4%;
  background-color: #303030;
}

h1 {
  font-size: 24pt;
  color: var(--maintextcolor);

  font-weight: bold;
}

h2 {
  font-size: 22pt;
  margin-bottom: 0pt;

  font-weight: bold;
}

h3 {
  font-size: 18pt;
  margin-bottom: 0pt;
  padding-bottom: 0pt;

  font-weight: bold;
}

h4 {
  font-size: 14pt;
  margin-bottom: 0pt;
  padding-bottom: 0pt;
  font-weight: bold;
}

section {
  margin-left: auto;
  margin-right: auto;
  transform-origin: 50% 50%;
  margin-bottom: 40pt;
  min-width: 300pt;
  max-width: 700pt;
}

p {
  font-size: 12pt;
  max-width: 600pt;

  font-weight: 100;
}

a {
  color: #87c1ff;
  text-decoration: none;
  font-size: 16pt;
}

button {
  border: none;
  padding-top: clamp(1pt, 1vw, 8pt);
  padding-bottom: clamp(1pt, 1vw, 8pt);
  padding-left: clamp(14pt, 4vw, 48pt);
  padding-right: clamp(14pt, 4vw, 48pt);
}

nav {
  overflow: auto;
  white-space: nowrap;
}

nav a {
  font-size: clamp(16pt, 5vw, 24pt);
  display: inline-block;
  color: rgb(134, 134, 134);
  text-decoration: none;
  margin: clamp(0.5vw, 1vw, 4pt);
  outline-style: none;
  padding: 8pt;
  border: 8pt;
  border-radius: 8pt;
}

nav:hover a:hover {
  color: #3a3a3a;
}

nav:active a:active {
  color: rgb(37, 37, 37);
}

.navActive{
  color: rgb(37, 37, 37);
}

iframe {
  border-style: none;
}

ul {
  padding-left: 20pt;
}

/*min max actualvalue*/
.searchBar {
  width: clamp(150px, 45vw, 600pt);
}

.searchButton {
  height: 24pt;
}

.itemProductsContainer {
  text-align: left;
}

.item {
  display: inline-block;
  width: 210pt;
  height: 270pt;
  outline-style: solid;
  padding: 15pt;
  text-align: center;
  margin: 8pt;

  position: relative;

  outline-color: #d6d6d6;
  border-radius: 4pt;
}

.cartItem {
  display: inline-block;
  width: 250pt;
  height: 300pt;
  outline-style: solid;
  padding: 15pt;
  text-align: center;
  margin: 8pt;

  outline-color: #d6d6d6;
  border-radius: 4pt;
}

.itemImage > img {
  width: 200pt;
  height: 200pt;
}

.itemTitle{
  left:0pt;
  right:0pt;
  display:inline-flex;
  text-align: center;
}

.itemAddButton{
  position: absolute;
  right: 0pt;
  left:0pt;
  bottom:5pt;
}

.menucategory {
  font-size: 0;
  overflow: auto;
  white-space: nowrap;
  margin-bottom: 16pt;
}

.homepage {
  font-weight: bold;
  font-size: clamp(24pt, 6vw, 32pt);
}

.autoresizeimg {
  max-width: 100%;
  height: auto;
  width: auto;
}

.topright {
  font-size: 0;
  position: absolute;
  top: 12pt;
  right: 12pt;
}

/* Login CSS Start Here */

#register_error_msg {
  color: red;
  padding: 5px 0 5px 0;
  margin: 5px 0;
  display: none;
  font-size: 18px;
}

#login_error_msg {
  padding: 5px 0 5px 0;
  margin: 5px 0;
  display: none;
  color: red;
  font-size: 18px;
}

.loginForm-popup {
  display: table;
}
.registerForm-popup {
  display: none;
}

.loginForm-popup,
.registerForm-popup {
  margin: 50px auto;
  border: 3px solid #f1f1f1;
  z-index: 9;
  overflow: hidden;
}

.loginForm-container,
.registerForm-container {
  max-width: fit-content;
  padding: 10px;
  background-color: white;
}

.loginForm-container input[type="text"],
.loginForm-container input[type="password"] {
  width: 500px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.registerForm-container input[type="text"],
.registerForm-container input[type="password"] {
  width: 500px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.loginForm-container input[type="text"]:focus,
.loginForm-container input[type="password"]:focus {
  background-color: #ddd;
  outline: none;
}

.loginForm-container .btn,
.registerForm-container .btn {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8;
}

.loginForm-container .closeForm,
.registerForm-container .closeForm {
  background: none;
  position: relative;
  top: -65px;
  left: 205px;
  cursor: pointer;
}

/* Login Css End */

/* Login Css responsive Start Here*/

@media screen and (max-width: 700px) {
  .loginForm-container input[type="text"],
  .loginForm-container input[type="password"],
  .registerForm-container input[type="text"],
  .registerForm-container input[type="password"],
  .addUserForm-container input[type="text"],
  .addUserForm-container input[type="password"],
  .editForm-container input[type="text"] {
    width: 275px !important;
  }
}

/* Login Css responsive End */

/* User Page css Start here */
.user-container {
  max-width: fit-content;
  padding: 15px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 100px auto;
}

.title {
  margin: 10px;
}

.userTag {
  margin: 10px;
}

.tag {
  color: #7c6e6e;
  font-size: 18px;
  background-color: #d2cfcf;
  padding: 5px;
  border-radius: 8px;
}

.fa-circle-check {
  color: #3939dd;
}
.userText {
  font-size: 16px;
  padding: 10px;
}

.userEditButton,
.userEditConfirm {
  background-color: #04aa6d;
  color: white;
  padding: 16px 20px;
  margin: 8px 10px 0 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.userEditCancel {
  padding: 16px 20px;
  margin: 8px 10px 0 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.userSignout {
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

#edit_error_msg,
#adminEdit_error_msg,
#adminProductEdit_error_msg {
  padding: 5px 0 5px 0;
  margin: 5px 0;
  display: none;
  color: red;
  font-size: 18px;
}

.editForm-popup {
  display: none;
}

.editForm-popup {
  margin: 50px auto;
  border: 3px solid #f1f1f1;
  z-index: 9;
  overflow: hidden;
}

.editForm-container {
  max-width: fit-content;
  padding: 10px;
  background-color: white;
}

.editForm-container input[type="text"] {
  width: 500px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.table {
  overflow: auto;
}

.table_userPage {
  border: 1px solid black;
  overflow: auto;
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

.table_userPage td,
.table_userPage th {
  border: 1px solid black;
}
/* User Page css end*/

/* Admin css start here */

.adminEditButton,
.userAddButton,
.productAddButton {
  background-color: #04aa6d;
  color: white;
  padding: 5px 10px;
  margin: 10px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.adminProductDeleteBtn {
  background-color: red;
  color: white;
  padding: 5px 10px;
  margin: 10px;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

#addUser_error_msg,
#addProduct_error_msg {
  padding: 5px 0 5px 0;
  margin: 5px 0;
  display: none;
  color: red;
  font-size: 18px;
}

.addUserForm-popup {
  display: none;
}

.addUserForm-popup {
  margin: 50px auto;
  border: 3px solid #f1f1f1;
  z-index: 9;
  overflow: hidden;
}

.addUserForm-container {
  max-width: fit-content;
  padding: 10px;
  background-color: white;
}

.addUserForm-container input[type="text"],
.addUserForm-container input[type="password"] {
  width: 500px;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.addFormRadio {
  padding: 0 0 25px 0px;
}

.itemImage_product > img {
  width: 50pt;
  height: 50pt;
}

.trigButton {
  background-color: #4b86b1;
  color: white;
  padding: 16px 20px;
  margin: 8px 10px 0 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

/* Admin css end */

@media screen and (max-width: 700px) {
  .itemProductsContainer {
    text-align: center;
  }

  .item {
    display: inline-block;
    width: 50vw;
    height: 70vw;
    outline-style: solid;
    padding: 15pt;
    text-align: center;
    margin: 8pt;

    outline-color: #d6d6d6;
    border-radius: 4pt;
  }

  .cartItem {
    display: inline-block;
    width: 70vw;
    height: 80vw;
    outline-style: solid;
    padding: 15pt;
    text-align: center;
    margin: 8pt;

    outline-color: #d6d6d6;
    border-radius: 4pt;
  }

  .itemImage > img {
    width: 50vw;
    height: 50vw;
  }
}
